header #navbar img {
    width: 4rem;
    margin-left: 0%;
}

#get-btn {
    font-size: 0.7rem;
    /* font-weight: bold; */
    padding: 10px 10px;
}

.welcome {
    font-size: 1.2rem;
}

.tagline {
    font-size: 0.9rem;
}

.welcome::after {
    border: none;
    animation: typing 3s steps(28) forwards;
}

@keyframes typing {
    90% {
        left: 100%;
        margin: 0 -10px 0 10px;
    }

    91% {
        left: 100%;
        margin: 0 -10px 0 10px;
    }

    100% {
        width: 0%;
        left: 100%;
        margin: 0 -10px 0 10px;

    }
}