header #navbar {
    flex-wrap: wrap;
    flex-direction: column;
    padding: 5%;
    padding-top: 0;


}

header {
    /* position: relative; */
    position: unset;
}


header #navbar img {
    width: 6rem;
    margin-left: 0%;
}

header #navbar ul li a {
    font-size: 0rem;
}

header #navbar ul li a:hover {
    font-size: 0rem;
    padding: 0;
    margin: 0;
    background-color: transparent;
}


#get-btn {
    font-size: 1rem;
    /* background-color: transparent; */
    font-weight: bold;
}

#get-btn:hover {
    color: rgb(116, 193, 33);
    margin-left: -50px;
    padding-left: 0px;
}

.welcome {
    font-size: 1.7rem;
}


.tagline {
    font-size: 1rem;
}