@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap%27');

@font-face {
    font-family: "San Francisco", sans-serif;
    ;
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    background-color: rgb(238, 238, 238);
}

/* navbar */

header {
    /* position: relative; */
    position: sticky;
    top: 0;
    z-index: 100;
}

header #navbar {
    display: flex;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    align-items: center;
    padding: 10px 10%;
    background-color: white;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);

}

header #navbar img {
    width: 7rem;
    margin-left: 5%;
}

header #navbar ul li {
    list-style-type: none;
}

header #navbar ul li a {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: bold;
    color: rgb(116, 193, 33);
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 5px;
    margin-right: 5%;
}

header #navbar ul li a:hover {
    background-color: rgb(244, 244, 244);
    transition: all 0.5s ease 0s;
    cursor: pointer;
}

#get-btn {
    font-family: "Montserrat", sans-serif;
    padding: 15px 20px;
    font-size: 1.3rem;
    background-color: rgb(67, 67, 67);
    color: white;
    border: none;
    border-radius: 50px;
}

#get-btn:hover {
    color: rgb(116, 193, 33);
    transition: all 0.4s ease 0s;
    padding-right: 50px;
    margin-right: -50px;
    margin-left: 20px;
    background: url("../Resources/Images/download_icon.svg") no-repeat right;
    background-size: 2rem;
    cursor: pointer;
    font-weight: bold;
    border: none;
    border-radius: 50px;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;

}

.welcome {
    display: inline-flex;
    font-size: 4rem;
    font-family: "San Francisco", sans-serif;
    font-weight: bold;
    position: relative;
    text-align: center;
}

.welcome::after {
    background-color: rgb(238, 238, 238);
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-left: 2px solid black;
    left: 0;
    right: 0;
    animation: typing 3s steps(28) forwards;
}

@keyframes typing {
    90% {
        left: 100%;
        margin: 0 -10px 0 10px;
        border-left: 2px solid black;


    }

    91% {
        left: 100%;
        margin: 0 -10px 0 10px;
        border-left: 2px solid black;
    }

    100% {
        width: 0%;
        left: 100%;
        margin: 0 -10px 0 10px;
        border-left: 2px solid transparent;

    }
}


.tagline {
    display: inline-flex;
    text-align: center;
    font-size: 2rem;
    margin-top: 3%;
    font-family: "San Francisco", sans-serif;

}

#copyright {
    font-family: "San Francisco", sans-serif;
    font-size: 1.5rem;
}


#menu {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    filter: drop-shadow(20px 20px 8px rgba(0, 0, 0, 0.15));
}
#menu{
    width: 100%;
}


#master {
    color: rgb(54, 54, 54);
}

#key {
    color: rgb(116, 193, 33);
}


/* about */
#about {
    background-color: white;
    margin-top: 4%;
}

#about ul {
    list-style: none;
}

#about ul li {
    display: flex;
}



.image img {
    width: 550px;
    height: 330px;
}

.para {
    font-family: "San Francisco", sans-serif;
    color: rgb(98, 98, 98);
    line-height: 1.9;
}

.heading {
    font-size: 1.8rem;
    color: rgb(69, 66, 66);
}

.paragraph {
    font-size: 1.3rem;
    color: rgb(98, 98, 98);
}

#right {
    flex-direction: row-reverse;
}

#bottom{
    padding-bottom: 5%;
}

#left-img {
    margin-top: 10%;
    margin-left: 8%;
    filter: drop-shadow(20px 20px 8px rgba(7, 7, 7, 0.15));
}

#left-para {
    margin-top: 5%;
    margin-left: 8%;
    margin-right: 8%;

}

#right-img {
    margin-right: 10%;
    margin-top: 10%;
    filter: drop-shadow(20px 20px 8px rgba(0, 0, 0, 0.15));
}

#right-para {
    margin-top: 12%;
    margin-left: 10%;
    margin-right: 10%;
}

#bottom-img {
    margin-top: 10%;
    margin-left: 8%;
    filter: drop-shadow(20px 20px 8px rgba(0, 0, 0, 0.15));
}

#bottom-para {
    margin-top: 7%;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-bottom: 5%;
}

/* downloads */
#download {
    display: flex;
    justify-content: center;
    margin: 4%;
}

.box {
    margin: 0% 15%;
}

.box a {
    background-color: rgb(232, 231, 231);
    padding: 6rem 4rem;
    padding-bottom: 12%;
    padding-top: 15%;
    text-decoration: none;
    /* border: 2px solid black; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box a:hover {
    transition: all 0.3s ease 0s;
    background-color: rgb(224, 224, 224);
    cursor: pointer;
}

#windows .box {
    margin-bottom: -1rem;
}

#win {
    margin-top: 25%;
}

#lin {
    margin-top: 25%;
}

#lin {
    color: rgb(59, 59, 59);
    font-weight: bold;
    font-family: "San Francisco", sans-serif;
    font-size: 1.5rem;
    margin-top: 20%;
}

#win {
    color: rgb(59, 59, 59);
    font-weight: bold;
    font-family: "San Francisco", sans-serif;
    font-size: 1.5rem;
    margin-top: 20%;
}

.download-btn {
    margin-top: 20%;
    font-size: 1.2rem;
    /* font-weight: bold; */
    padding: 10% 15%;
    border: none;
    color: white;
    border-radius: 5px;
    background-color: rgb(0, 115, 255);
    cursor: pointer;
}

.download-btn:hover {
    background-color: rgb(0, 103, 229);
    transition: all 0.3s ease 0s;
}



.aboutus {
    background-color: white;
}








/* footer */
footer {
    background-color: rgb(214, 214, 214);
    padding: 3%;
}

footer span {
    color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    font-weight: bold;
}